* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  color: #111;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  transition: 0.3s;
  z-index: 100;
}

.header.scrolled {
  background: white;
}

.logo {
  font-weight: bold;
  color: #888;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #888;
}

/* HERO */
.hero {
  height: 100vh;
  background:
    linear-gradient(
      rgba(0,0,0,0.65),
      rgba(0,0,0,0.65)
    ),
    url("../assets/medal-hero.jpg") center / cover no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-title {
  font-size: 64px;
  letter-spacing: 2px;
  background: linear-gradient(to bottom, #f5f5f5, rgba(150,150,150,0));
  -webkit-background-clip: text;
  color: transparent;
}

.hero-subtitle {
  margin-top: 12px;
  max-width: 520px;
  color: #e0e0e0;
}

.btn {
  padding: 12px 24px;
  background: white;
  color: black;
  text-decoration: none;
  border-radius: 8px;
}

/* DARK */
.dark-section {
  background: #111;
  color: white;
  padding: 100px 20px;
  text-align: center;
}

/* ADVANTAGES */
.advantages {
  background: white;
  padding: 100px 40px;
  display: flex;
  gap: 60px;
}

.advantages-left {
  position: relative;
  width: 40%;
}

arrow {
  position: relative;
  width: 140px;
  height: 2px;
  background: #111;
  margin-top: 24px;
}

.arrow::after {
  content: "";
  position: absolute;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
  border-left: 12px solid #111;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

.advantages-right {
  width: 60%;
}

.adv-item {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.adv-item span {
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  margin-top: 6px;
}

.adv-item p {
  text-indent: 20px;
  color: #333;
}
.hero-image {
  margin-top: 30px;
  max-width: 520px;
  width: 90%;
  border-radius: 18px;
  box-shadow: 0 25px 60px rgba(0,0,0,0.6);
}
